
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  creationTimestamp: null
  name: manager-role
rules:
- apiGroups:
  - konfigurator.stakater.com
  resources:
  - konfiguratortemplates
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - konfigurator.stakater.com
  resources:
  - konfiguratortemplates/finalizers
  verbs:
  - update
- apiGroups:
  - konfigurator.stakater.com
  resources:
  - konfiguratortemplates/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - networking.k8s.io
  resources:
  - ingresses
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - v1
  resources:
  - pods
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - v1
  resources:
  - services
  verbs:
  - get
  - list
  - watch
